body{
  background-color: #9c9c9c;
}
header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  

}
header .logo img {
  width:80%;
  display: flex;
  justify-content: center;
  
}
.UserPanel {
  padding-right: 3px;
}
.LogOut{
  padding-left: 0px;
}

.container {
  display: flex;



  .buttons {
    flex: 1 1 0;
    padding: 20px;
    color:#009688(54, 121, 244);
    
  
    .importantInfo {
      
      border-color:#009688(54, 121, 244);
      background-color: white;
      border-radius: 5px;
      text-align: center;
      padding-top: 5px;
      box-shadow: 0 0 2px 2px;
      
      .insideBox{
        padding: 10px 0px 0px 10px ;
        border-radius: 5px;
        background-color: white;

      }

    }
  }
  

  .tables {
    flex: 3 1 0;
    padding: 25px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .tables p {
    padding: 5px;
    display: flex;
    justify-content:center;
  }

}


#orderBox{
  display: flex;
  
  justify-content: space-around;
}

#inputs{
  display: flex;
  justify-content: space-around;
}

#inputs1{
  padding: 20px;
  display: flex;
  justify-content: center;
}
#buttonsForm{
  display: flex;
  justify-content: center;
  padding: 10px 20px 20px 20px;
  gap: 10%;
}