header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

}
header .logo img {
  height: 100px;
  width: 100px;
}

.container {
  display: flex;



  .buttons {
    flex: 1 1 0;
    padding: 20px;
    color:white;
  
    #importantInfo {
      background-color: rgb(54, 121, 244);
      height: 500px;
      border-radius: 5px;
      box-shadow:1px 1px 1px;
      text-align: center;
      padding-top: 5px;
      
    }
  }
  

  .tables {
    flex: 3 1 0;
    padding: 25px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

